@use "reset";
$font_main: "Outfit", sans-serif;
$color_White: hsl(0, 0%, 100%);
$color_LightGray: hsl(212, 45%, 89%);
$color_GrayishBlue: hsl(220, 15%, 55%);
$color_DarkBlue: hsl(218, 44%, 22%);
body {
  font-family: $font_main;
  background-color: $color_LightGray;
  display: flex;
  height: 100vh;
  align-items: center
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 10px auto;
  background-color: $color_White;
  padding: 13px 13px 40px;
  border-radius: 15px;
  img {
    max-width: 100%;
    border-radius: 10px;
  }
  p {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    color: $color_DarkBlue;
    &:nth-last-child(1){font-weight: 400;color: $color_GrayishBlue;}
  }
}
